.grid{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3,18rem);
    grid-template-rows: repeat(1,1fr);
    align-items: center;
    margin-bottom: 7rem;
    justify-content: center; 
    gap:2rem;

    .card{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: .5rem;
        overflow: hidden;
        border: 1px solid rgb(213, 211, 211);
        background-color: #fff;

        &__img{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
            height: 12rem;
            transition: .5s;
        }

        &__name{
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: -25%;
            top: 0; 
            width: 3.5rem;
            height: 100%;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            background-color: black;
            color:$clr-light !important;
            font-weight: bold;
            transition: .5s;
        }
        
        &__icon{
            font-size: 1.5rem;
            color: $clr-dark;

        }

        &__precios{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            transition: .5s;
        }

        &:hover .card__name{
            left: 0;
        }
        &:hover .card__img{
            transform: rotate(30deg);
            margin-left: 3.5rem;
        }
        &:hover .card__precios{
            margin-left: 3.5rem;
            padding: 0 1.5rem;
        }
    }


}