.svg-icon{
    fill:$clr-item;
}
.margin-icon{
    margin-top:2rem;
}
.carousel{
    position: relative;
    margin: 7rem 2rem 0 2rem;
    &__boton{ 
        position: absolute;
        width: 30px;
        height: 30px;
        border: none;
        top: calc(50% - 20px);
        cursor: pointer;
        background: none;
        opacity: 50%;
        border: 1px solif blue;
    }
    &__boton:hover{
        opacity: 100%;
    }
    &__anterior{
        left: -10px;
    }
    &__siguiente{
        right: -10px;
    }
    &__lista{
        overflow: hidden;
        margin-left: 2rem;
    }
    &__elemento{
        svg{
            width: 5rem;
            margin-bottom: 1rem;
        }
        a{
            flex-direction: column;
        }
    }
}

