.container{
    margin-left: 3rem;
    margin-right: 3rem;

}
.logo{
    width: 10rem;
}
.abajo{
    background:#D4B49D;
    color: $clr-dark !important;
    nav{
        background:#D4B49D;
        color: $clr-dark !important;
    }
}
header{
    height: 80px;
    position: fixed;
    z-index: 1;
    padding-top: 2em;
    top:0; left: 0; right: 0;
    background: $clr-light;
    color: $clr-dark;
    z-index: 2;
    .flex{
        justify-content: space-between;
    } 
    .nav_btn{
        width: 1em;
        margin-bottom: .3em;
        cursor: pointer;
    
        &-close{
            float: right;
            margin: 2em;
            margin-right:3rem;

            width: 1.5rem;

    }
}

    nav{
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 60%;
        background: $clr-light;
        color: $clr-dark !important;
        z-index: 1;
        display: none;

        &.nav-open{
            display: block;
        }
        .menu{
            flex-flow: column;
            gap: 2em;
            margin-top: 50%;
            li{
                opacity: 0.8;
                letter-spacing: 0.05em;
                &.active{
                    font-weight: 600;
                    opacity: 1;
                    color: #DEB887 !important;
                }
            }
        }
    }
    .icons{
        display: flex;
        gap: 1rem;
        .icon{
            font-size: 1.5em;
        }
        .icon:hover{
            color: $clr-pink!important;
        }
    }

    @media(min-width: 900px){
        .nav_btn{
            display: none;
        }
        nav{
            all: unset;

            .menu{
                display: flex;
                flex-flow: row nowrap;
                margin: unset;
                gap: 3em;
            }
        }
    }
}
