.banner{
    background-image: url('../imagenes/jacinta-christos-kSj37Re1VZQ-unsplash.jpg');
    height: 10vh;
}
.banner p{
    position: absolute;
    color:black;
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing:.2rem;
    margin: 2rem 5rem ;
    font-family: 'Frank Ruhl Libre', serif;
}
.cont-piel >div{
    margin: 5rem;
    font-size: 1.6rem;
    border: 1px solid rgb(234, 226, 226);
    background-color: #fff;
    padding: 2rem;
}
.acticulo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.titulo-descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
}
.descripcion{
    grid-column-start: 2;
    grid-column-end: -1;
}
.grid-sensible{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    padding: 4rem;
    gap: 3rem;
    
}
.card-sensi{
    background-color: #eee;
    padding: 2rem;
}
.grid-reco{
    display: grid;
    grid-template-columns: repeat(3,20rem);
}
// <section class="blogs flex">
// <div class="card-container">

//     <div class="card_noticia">
//         <div class="card_noticia-img">
//             <img src="./imagenes/card_notica1.jpg" alt="mujer sonriendo">
//         </div>
//         <div class="card_noticia-content content">
//             <span class="item">ssofia news</span>
//             <a class="flex" href="#" class="title">Importancia del protector solar</a>
//             <a class="flex" href="#" class="btn-content">Leer más</a>
//         </div>
//     </div>

//     <div class="card_noticia">
//         <div class="card_noticia-img">
//             <img src="./imagenes/acne.jpg" alt="Una joven con acne en el rostro">
//         </div>
//         <div class="card_noticia-content content">
//             <span class="item">ssofia news</span>
//             <a class="flex" href="#" class="title">¿Cómo librarse del acné?</a>
//             <a class="flex" href="#" class="btn-content">Leer más</a>
//         </div>
//     </div>

//     <div class="card_noticia">
//         <div class="card_noticia-img">
//             <img src="./imagenes/photo-1465400325222-409b0b34be7c.jfif" alt="Un Joven con una mascarilla de arcilla">
//         </div>
//         <div class="card_noticia-content content">
//             <span class="item">ssofia news</span>
//             <a class="flex" href="#" class="title">Mascarillas, momentos de relax</a>
//             <a class="flex" href="#" class="btn-content">Leer más</a>
//         </div>
//     </div>

// </div>

// </section>