*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    text-transform: none;
    color: inherit !important;
}

img,
video,
svg{
    max-width: 100%;
    height: auto;
    background-size: cover;
}

body{
    font-family: $body-font !important;
    background: #faf9f8;
}
main{
    margin-top: 5rem;
}
.flex{
    display: flex;
    align-items: center;
    
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

