@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@500&display=swap');
$clr-dark: black;
$clr-light: white;
$clr-item:rgb(85, 84, 84);
$clr-title: rgb(59, 209, 157) !default;
$clr-green: rgb(115, 191, 152);
$typo-logo: 'Frank Ruhl Libre', serif;
$typo-bg:'Roboto', sans-serif;


$body-font: 'Poppins', sans-serif;